.nav.upper {
    display: flex;
    align-items: center;
}

.nav.upper.centered.nav-tabs .nav-link {
    text-align: left;
}

body.menu-position-side .content-w,
.menu-position-side.menu-w {
    border-radius: 0;
}

.menu-w .logo-w img {
    width: 25px;
}

.logged-user-w .avatar-w {
    border: none;
    padding: 12px;
    background-color: #fff;
    font-weight: 700;
}

.menu-position-side.menu-w.menu-layout-mini {
    min-height: 100vh;
    background-color: #d2dbdc;
    box-shadow: none;
}

.menu-w.menu-layout-mini ul.main-menu {
    padding: 0;
}

.menu-w ul.main-menu > li .icon-w {
    color: #808080;
}

.menu-w.sub-menu-style-over.sub-menu-color-bright ul.main-menu > li.active > a {
    background-color: transparent;
}

.menu-w ul.main-menu > li.active > a .icon-w,
.menu-w ul.main-menu > li > a:hover .icon-w {
    color: #49c37f;
    -webkit-transform: none;
     transform: none; 
}