<div class="full-np-i">
    <div class="full-np-left">
        <div class="os-tabs-w">
            <ul class="nav nav-tabs upper">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab_overview"><i class="os-icon os-icon-users"></i><span>Recipients</span></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#new_wallet"><i class="os-icon os-icon-user-plus"></i><span>New recipient</span></a></li>
            </ul>
            <div class="tab-content">
                <div id="tab_overview" class="tab-pane active">
                    <div class="np-search">
                        <div class="element-search"><input placeholder="Search your recipients..." type="text"></div>
                    </div>
                    <div class="user-list">
                        <div class="user-w active">
                            <div class="avatar with-status status-green"><img alt="" src="/public_assets/img/avatar1.jpg"></div>
                            <div class="user-info">
                                <div class="user-date">12 min</div>
                                <div class="user-name">John Mayers</div>
                                <div class="last-message">What is going on, are we...</div>
                            </div>
                        </div>
                        <div class="user-w">
                            <div class="avatar with-status status-green"><img alt="" src="/public_assets/img/avatar2.jpg"></div>
                            <div class="user-info">
                                <div class="user-date">2 hours</div>
                                <div class="user-name">Bill Railey</div>
                                <div class="last-message">Yes, I've sent you details...</div>
                            </div>
                        </div>
                        <div class="user-w">
                            <div class="avatar with-status status-green"><img alt="" src="/public_assets/img/avatar3.jpg"></div>
                            <div class="user-info">
                                <div class="user-date">24 min</div>
                                <div class="user-name">Simon Backs</div>
                                <div class="last-message">What is going on, are we...</div>
                            </div>
                        </div>
                        <div class="user-w">
                            <div class="avatar with-status status-green"><img alt="" src="/public_assets/img/avatar1.jpg"></div>
                            <div class="user-info">
                                <div class="user-date">7 min</div>
                                <div class="user-name">Kelley Brooks</div>
                                <div class="last-message">Can you send me this...</div>
                            </div>
                        </div>
                        <div class="user-w">
                            <div class="avatar with-status status-green"><img alt="" src="/public_assets/img/avatar7.jpg"></div>
                            <div class="user-info">
                                <div class="user-date">4 hours</div>
                                <div class="user-name">Vinie Jones</div>
                                <div class="last-message">What is going on, are we...</div>
                            </div>
                        </div>
                        <div class="user-w">
                            <div class="avatar with-status status-green"><img alt="" src="/public_assets/img/avatar1.jpg"></div>
                            <div class="user-info">
                                <div class="user-date">2 days</div>
                                <div class="user-name">Brad Pitt</div>
                                <div class="last-message">They have submitted users...</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="new_wallet" class="tab-pane">
                    <div class="new-wallet p-4">
                        <h4 class="py-3">New Recipient</h4>
                        <form>
                            <div class="form-group">
                                <label for=" new_recipient_name">Full Name:</label>
                                <input type="text" id="new_recipient_name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for=" new_recipient_email">Email:</label>
                                <input type="text" id="new_recipient_email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for=" new_recipient_phone">Cell Number (Optional):</label>
                                <input id="new_recipient_phone" type="text" class="form-control" />
                            </div>
                            <div class="form-group pt-3">
                                <button class="btn btn-block btn-lg btn-green">Add Recipient</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-np-middle">
        <div class="np-head">
            <h4 class="d-inline-flex align-items-center">
                <input id="wallet_name_input" value="E-Commerce" disabled />
                <label for="wallet_name_input"><i class="os-icon os-icon-pencil-1"></i><span>Edit</span></label>
            </h4>
        </div>
        <div class="np-content-w">
            <div class="np-content">
                <div class="row">
                    <div class="col-md-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>