<div class="full-np-i">
    <div class="full-np-left">
        <div class="os-tabs-w">
            <ul class="nav nav-tabs upper">
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab_overview"><i class="os-icon os-icon-wallet-loaded"></i><span>Wallets</span></a></li>
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#new_wallet"><i class="os-icon os-icon-plus-circle"></i><span>New wallet</span></a></li>
            </ul>
            <div class="tab-content">
                <div id="tab_overview" class="tab-pane">
                    <div class="np-search">
                        <div class="element-search"><input placeholder="Search your wallets..." type="text"></div>
                    </div>
                    <div class="user-list">
                        <div class="user-w">
                            <div class="user-info">
                                <div class="user-date"><strong>$</strong>5,567.00</div>
                                <div class="user-name">E-Commerce</div>
                                <div class="last-message">USD5001224000</div>
                            </div>
                        </div>
                        <div class="user-w">
                            <div class="user-info">
                                <div class="user-date"><strong>&euro;</strong>567.00</div>
                                <div class="user-name">Gaming wallet</div>
                                <div class="last-message">EUR5001224000</div>
                            </div>
                        </div>
                        <div class="user-w">
                            <div class="user-info">
                                <div class="user-date"><strong>&pound;</strong>205,567.00</div>
                                <div class="user-name">E-Commerce</div>
                                <div class="last-message">GBP5001224000</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="new_wallet" class="tab-pane active">
                    <div class="new-wallet p-4">
                        <h4 class="py-3">New Wallet</h4>
                        <form>
                            <div class="form-group">
                                <label for=" new_wallet_currency">Currency:</label>
                                <select id="new_wallet_currency" class="form-control">
                                    <option>USD</option>
                                    <option>GBP</option>
                                    <option>EUR</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for=" new_wallet_category">Category:</label>
                                <select id="new_wallet_category" class="form-control">
                                    <option>eCommerce</option>
                                    <option>Gaming</option>
                                    <option>Travel</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for=" new_wallet_name">Name:</label>
                                <input id="new_wallet_name" type="text" class="form-control" />
                            </div>
                            <div class="form-group pt-3">
                                <button class="btn btn-block btn-lg btn-green">Create Wallet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-np-middle">
        <div class="np-head">
            <h4 class="d-inline-flex align-items-center">
                <input id="wallet_name_input" value="E-Commerce" disabled />
                <label for="wallet_name_input"><i class="os-icon os-icon-pencil-1"></i><span>Edit</span></label>
            </h4>
        </div>
        <div class="np-content-w">
            <div class="np-content">
                <div class="row">
                    <div class="col-md-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>