<div class="full-np-i">
    <div class="full-np-left">
        <div class="os-tabs-w">
            <ul class="nav nav-tabs upper">
                <li class="nav-item" (click)="getWallets()"><a class="nav-link active" data-toggle="tab" href="#tab_overview"><i class="os-icon os-icon-wallet-loaded"></i><span>Wallets</span></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#new_wallet"><i class="os-icon os-icon-plus-circle"></i><span>New wallet</span></a></li>
            </ul>
            <div class="tab-content">
                <div id="tab_overview" class="tab-pane active">
                    <div class="np-search">
                        <div class="element-search"><input class="form-control" placeholder="Search your wallets..." type="text"></div>
                    </div>
                    <div class="user-list" *ngFor="let walletAccount of allWalletAccounts">
                        <div class="user-w" (click)="activeWalletAccount = walletAccount">
                            <div class="user-info">
                                <div class="user-date"><strong>{{walletAccount.currency.symbol}}</strong>{{fomartBalance(walletAccount.balance)}}</div>
                                <div class="user-name">{{walletAccount.name}}</div>
                                <div class="last-message">{{walletAccount.walletAccountCode}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="new_wallet" class="tab-pane">
                    <div class="new-wallet p-4">
                        <h4 class="py-3">New Wallet</h4>
                        <form>
                            <div class="form-group">
                                <label for=" new_wallet_currency">Currency:</label>
                                <select id="new_wallet_currency" class="form-control">
                                    <option>USD</option>
                                    <option>GBP</option>
                                    <option>EUR</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for=" new_wallet_category">Category:</label>
                                <select id="new_wallet_category" class="form-control">
                                    <option>eCommerce</option>
                                    <option>Gaming</option>
                                    <option>Travel</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for=" new_wallet_name">Name:</label>
                                <input id="new_wallet_name" type="text" class="form-control" />
                            </div>
                            <div class="form-group pt-3">
                                <button class="btn btn-block btn-lg btn-green">Create Wallet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-np-middle">
        <div class="np-content-w">
            <div class="np-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-wallet-holder">
                            <div class="inner" ng-show="activeWalletAccount != null">
                                <div class="wallet-card">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h4 class="wallet-name">{{activeWalletAccount.name}}</h4>
                                        <a class="wallet-edit-icon" href="#"><i class="os-icon os-icon-edit-32"></i> Edit</a>
                                    </div>
                                    <h2 class="wallet-balance">{{activeWalletAccount.currency.symbol}}{{fomartBalance(activeWalletAccount.balance)}}</h2>
                                    <div class="wallet-info d-flex align-items-center justify-content-between">
                                        <span><strong>Wallet ID:</strong> {{activeWalletAccount.walletAccountCode}}</span>
                                        <span><strong>Category:</strong> {{activeWalletAccount.walletAccountCategory.name}}</span>
                                    </div>
                                    <i class="back-wallet-icon os-icon os-icon-shopping-cart"></i>
                                </div>
                                <div class="transactions">
                                    <div class="transactions-header d-flex justify-content-between align-items-baseline">
                                        <h2 class="title">Transactions</h2>
                                        <h2><i class="os-icon os-icon-toggle-right"></i></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>